Localidades de Buenos Aires.csv 
Localidades de Catamarca.csv 
Localidades de Chaco.csv 
Localidades de Chubut.csv 
Localidades de Ciudad Autonoma de Buenos Aires.csv 
Localidades de Cordoba.csv 
Localidades de Corrientes.csv 
Localidades de Entre Rios.csv 
Localidades de Formosa.csv 
Localidades de Jujuy.csv 
Localidades de La Pampa.csv 
Localidades de La Rioja.csv 
Localidades de Mendoza.csv 
Localidades de Misiones.csv 
Localidades de Neuquen.csv 
Localidades de Rio Negro.csv 
Localidades de Salta.csv 
Localidades de San Juan.csv
Localidades de San Luis.csv 
Localidades de Santa Cruz.csv 
Localidades de Santa Fe.csv 
Localidades de Santiago del Estero.csv 
Localidades de Tierra del Fuego.csv 
Localidades de Tucuman.csv