Buenos Aires.csv 
Catamarca.csv 
Chaco.csv 
Chubut.csv 
Ciudad Autonoma de Buenos Aires.csv 
Cordoba.csv csv/Corrientes.csv 
Entre Rios.csv csv/Formosa.csv 
Jujuy.csv 
La Pampa.csv 
La Rioja.csv 
Mendoza.csv 
Misiones.csv 
Neuquen.csv 
Rio Negro.csv 
Salta.csv 
San Juan.csv
San Luis.csv 
Santa Cruz.csv 
Santa Fe.csv 
Santiago del Estero.csv 
Tierra del Fuego.csv 
Tucuman.csv